<section class="d-flex flex-column cont">
  <div class="log-in d-flex justify-content-between align-items-center">
    <%= image_tag "bars-solid.svg", class: "icon"  %>
    <li class="headers"> <h2 class= "headers"> CATEGORIES</h2></li>
    <%= image_tag "magnifying-glass-solid.svg", class: "icon"  %>                 
  </div>
  
  <% @groups.each do |group| %>
    <div class="card-custom my-2">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <% if group.icon.attached? %>
            <div>
              <%= image_tag url_for(group.icon), class: "img" %>
            </div>
          <% end %>
          <div class="d-flex flex-column ms-3">
            <div class="d-flex justify-content-between align-items-center w-100 gap-2">
              <span class="name-group-header"><%= group.name %></span>
              <span class="name-group text-center"><%= "Total amount: $#{group.total_purchases}" %></span>
            </div>
            <div class="d-flex justify-content-between align-items-center w-100">

            </div>

          </div>
          <div class="ms-auto">
            <% if can? :destroy, group %>
              <%= button_to "Delete", group_path(group.id), method: :delete, class: "btn btn-sm btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
  
  
  
  
  
  
  <%= link_to 'Add new Category', new_group_path, class:"add-category"  %>
</section>