<section class="d-flex flex-column cont">
  <div class="log-in d-flex justify-content-between align-items-center">
    <%= image_tag "bars-solid.svg", class: "icon" %>
    <li class="headers">
      <h2 class="headers">CATEGORIES</h2>
    </li>
    <%= button_to destroy_user_session_path, method: :delete, class:"btn" do %>   
      <%= image_tag "arrow-right-from-bracket-solid.svg", class:"icon" %>
    <% end %>
  </div>

  <% @groups.each do |group| %>
    <%= link_to "/groups/#{group.id}/purchases", class: "text-decoration-none" do %>
      <div class="card-custom my-2 py-3 px-2">
        <div class="card-body d-flex">
          <div class="d-flex align-items-center">
            <% if group.icon.attached? %>
              <div class="d-flex gap-2">
                <%= image_tag url_for(group.icon), class: "img" %>
              </div>
            <% end %>
            <div class="ms-3">
              <span class="name-group-header"><%= group.name %></span>
              <div class="date-style "><%= group.created_at.strftime("%d %b %Y") %></div>
            </div>
          </div>
          <div class="d-flex flex-column ms-auto">
            <span class="name-group text-center"><%= "$#{group.total_purchases}" %></span>
            <% if can? :destroy, group %>
              <%= button_to "Delete", group_path(group.id), method: :delete, class: "btn btn-sm btn-outline-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</section>

<div class="add-category">
  <%= link_to 'Add new Category', new_group_path, class: "btn btn-outline-light padding" %>
</div>
