<section class="d-flex flex-column cont">
  <div class="log-in d-flex justify-content-between align-items-center">
    <%= image_tag "bars-solid.svg", class: "icon"  %>
    <li class="headers"> <h2 class= "headers"> CATEGORIES</h2></li>
    <%= image_tag "magnifying-glass-solid.svg", class: "icon"  %>                 
  </div>
  
 
    <% @groups.each do |group| %>
      <%= link_to " /groups/#{group.id}/purchases" do %>
      <div class="card-custom d-flex justify-content-between my-2">
        <% if group.icon.attached? %>
          <div class="d-flex align-items-center gap-3">
            <img class="img" src="<%= url_for(group.icon) %>">
            <p class="name-group-header"> <%= group.name %></p>
          </div>
        <% end %>
        <span class="name-group" > Total amount: <%= group.total_purchases %> $</span>
      </div>
      <% end %>
    <% end %>


   <%= link_to 'Add new Category', new_group_path, class:"add-category"  %>
</section>