<section class="d-flex flex-column cont my-2">
  <div class="log-in d-flex justify-content-between align-items-center my-2">
                <%= render partial: "shared/arrow_icon"%>
                  <li class="headers"> <h2> PURCHASES</h2></li>
                <%= image_tag "magnifying-glass-solid.svg", class: "icon"  %>
                  
  </div>

 <div class="groups d-flex justify-content-between my-2">
  <% if @group.icon.attached? %>
   <div class="img-div">
    <img class="img" src="<%= url_for(@group.icon) %>">
    </div>
  <% end %>
  <p class="name-group-header"> <%= @group.name.capitalize %></p>
  <span class="name-group-header">Total amount: $<%= @group.total_purchases %> </span>
</div>


<div class = "container">
  <% @group_purchases.each do |group_purchase| %>
  <div class="groups d-flex justify-content-between">
    <p class="name-group"> <%= group_purchase.purchase.name.capitalize %></p>
  <span class="name-group"> $<%= group_purchase.purchase.amount %></span>
  </div>
  <% end %>
</div>


<%= link_to 'Add new Purchase', "/groups/#{@group.id}/purchases/new", class:"add-category"  %>

</section>